.footerleft{
width:50%;
left: 10%;
position: relative;
top:5%;
font-size: 25px;
font-weight:400;
text-align: left;
}
.footerheading1{
    font-family: Poppins;
font-size: 25px;
font-weight: 600;
text-align: left;
color: rgba(0, 74, 173, 1);
}
.footercontent1{
font-size: 25px;
font-weight: 400;
text-align: left;
padding-bottom:20px;
}

.footercontent1:hover{
    color:rgb(148, 185, 234);
}
.footercontent1:active{
    color:rgba(0, 74, 173, 1);
}