.page2heading{
width: 1728px;
height: 160px;
top: 118px;
left: 199px;
font-family: Poppins;
font-size: 53px;
font-weight: 600;
line-height: 80px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
text-align: center;
}