.page1background{
    background: linear-gradient(112.21deg, #2266C0 37.14%, rgba(0, 74, 173, 0.6) 53.93%);
}
.page1heading1{
position: absolute;
width:40%;
height: 214px;
top: 35%;
left: 102px;
font-family: Poppins;
font-size: 40px;
font-weight: 600;
text-align: left;
color:white;
}
.page1heading2{
position: absolute;
width: 50%;
top:62%;
left: 5%;
font-family: Poppins;
font-size: 23px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.page1heading3{
position: absolute;
width: 50%;
top:82%;
left: 5%;
font-family: Poppins;
font-size: 23px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.page1heading4{
    position: absolute;
    width: 53%;
    top:94%;
    left: 5%;
font-family: Poppins;
font-size: 23px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
}
.page1heding5{
    position: absolute;
    width: 43%;
    top:110%;
    left: 5%;
font-family:poppins;
font-size: 23px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
}
.page1button{
    position: absolute;
    width: 207px;
    height: 62px;
    top: 135%;
    left:15%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.46);
    color:rgba(34, 102, 192, 1);
    font-family: poppins;
}
.page1button:hover{
    background-color:rgba(34, 102, 192, 1);
    color:white;
    cursor: pointer;
}
.page1button:active{
    background-color:rgb(19, 65, 125);
    color:white;
}