.page1background{
    background: linear-gradient(112.21deg, #2266C0 37.14%, rgba(0, 74, 173, 0.6) 53.93%);
}
.page1heading1{
position: absolute;
width: 840px;
height: 214px;
top: 260px;
left: 102px;
font-family: Poppins;
font-size: 71px;
font-weight: 600;
line-height: 107px;
letter-spacing: 0em;
text-align: left;
color:white;
}
.page1heading2{
position: absolute;
width: 804px;
height: 96px;
top: 490px;
left: 83px;
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.page1heading3{
position: absolute;
width: 630px;
height: 48px;
top: 600px;
left: 83px;
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.page1heading4{
    position: absolute;
    width: 823px;
height: 96px;
top: 660px;
left: 83px;
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.page1heding5{
    position: absolute;
    width: 690px;
height: 144px;
top: 760px;
left: 83px;
font-family:poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.page1button{
    position: absolute;
    width: 207px;
    height: 62px;
    top: 950px;
    left: 233px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.46);
    color:rgba(34, 102, 192, 1);
    font-family: poppins;
}
.page1button:hover{
    background-color:rgba(34, 102, 192, 1);
    color:white;
    cursor: pointer;
}
.page1button:active{
    background-color:rgb(19, 65, 125);
    color:white;
}